[submodule "openprinttaggui/Library/OpenPrintTag"]
	path = openprinttaggui/Library/OpenPrintTag
	url = https://github.com/prusa3d/OpenPrintTag
[submodule "openprinttaggui/Library/openprinttag-database"]
	path = openprinttaggui/Library/openprinttag-database
	url = https://github.com/OpenPrintTag/openprinttag-database
